
<div id="summonerInfo" 
     data-region="<%= region %>" 
     data-summoner-id="<%= summonerId %>" 
     data-summoner-name="<%= summonerName %>" 
     data-tag="<%= tag %>"
     style="display: none;">
</div>
<div class="background-image" style="width: 700px; position: absolute; top: 0; left: 40%;">
  <img id="background-src" src="" style="width: 100%; opacity: 0.6;">
  <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: linear-gradient(to right, #050712 0%, transparent 15%, transparent 85%, #050712 100%);"></div>
  <div style="position: absolute; left: 0; right: 0; bottom: 0; height: 100%; background: linear-gradient(to top, #050712 30%, transparent);"></div>
</div>
  <div class="board" style=" max-width: 1100px; min-width: 700px; margin: auto; z-index: 1;">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.1) 4%,rgba(0,212,255,0) 22%, rgba(0,212,255,0) 100%); border-radius:50px; padding: 1px;">
      <div style="display: flex; gap: 15px;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: end;">
          <img id="summoner-icon" src="http://ddragon.leagueoflegends.com/cdn/14.11.1/img/profileicon/<%= profileIconId %>.png">
          <p id="summoner-level"><%= summonerLevel %></p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; gap: 10px">
          <p id="summoner-name"><%= decodeURIComponent(summonerName) %></p>
          <p id="summoner-region"><%= region %></p>
        </div>
      </div>
      <div class="btn">
        <a href="#" class="button-new" id="reload-btn">
          <span>REFRESH</span>
        </a>
      </div>
    </div>
    <div id="loading">
      <h3 style="font-weight: 100;">Waiting for <span style="color: #CE3E3E; font-weight: bold;">Game to Start...</span></h3>
      <p style="margin-top: 20px; margin-bottom: 80px; font-size: 15px; font-weight: 100; text-align: center; line-height: 19px; color: #e2e2e2;">Match analysis can start once you reach the loading screen.</p>
      <div id="search-game-btn">
        <input id="checkbox" type="checkbox" />
        <label class="search-game-label" for="checkbox">
          <span class="search-game-icon">
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.8981 0.250244C22.3005 0.250244 14.7031 3.14056 8.92188 8.92181C-2.64062 20.4843 -2.64062 39.3118 8.92188 50.8743C14.7031 56.6556 22.2816 59.5474 29.9378 59.5474C37.5941 59.5474 45.1725 56.6556 50.9537 50.8743C62.4381 39.3118 62.4369 20.4843 50.8744 8.92181C45.0931 3.14056 37.4958 0.250244 29.8981 0.250244ZM29.86 4.85992C36.2662 4.85992 42.6722 7.28058 47.5159 12.2025C57.2816 21.9681 57.2812 37.8281 47.5937 47.5937C37.8281 57.3593 21.9681 57.3593 12.2025 47.5937C2.43689 37.8281 2.43689 21.9681 12.2025 12.2025C17.0463 7.3587 23.4537 4.85992 29.86 4.85992ZM29.86 9.54742C24.4694 9.54742 19.3906 11.6562 15.5625 15.5624C11.8906 19.2343 9.85968 24.0002 9.62531 29.1565C9.54718 30.4846 10.5631 31.4999 11.8912 31.5781H11.9691C13.2191 31.5781 14.2347 30.5621 14.3128 29.3121C14.4691 25.3278 16.1088 21.6556 18.8431 18.8431C21.8119 15.8743 25.7194 14.2349 29.86 14.2349C31.1881 14.2349 32.2037 13.2193 32.2037 11.8912C32.2037 10.563 31.1881 9.54742 29.86 9.54742ZM16.3438 38.9999C15.7221 38.9999 15.126 39.2469 14.6865 39.6864C14.2469 40.1259 14 40.7221 14 41.3437C14 41.9653 14.2469 42.5614 14.6865 43.001C15.126 43.4405 15.7221 43.6874 16.3438 43.6874C16.9654 43.6874 17.5615 43.4405 18.001 43.001C18.4406 42.5614 18.6875 41.9653 18.6875 41.3437C18.6875 40.7221 18.4406 40.1259 18.001 39.6864C17.5615 39.2469 16.9654 38.9999 16.3438 38.9999ZM54.1276 51.8906C53.5319 51.8906 52.9459 52.1252 52.5162 52.594C51.5787 53.5315 51.5787 55.0153 52.5162 55.8746L54.4694 57.8278C54.0006 58.7653 53.7659 59.7812 53.7659 60.8749C53.7659 62.7499 54.4687 64.5471 55.7969 65.8752L65.7975 75.7187C67.2037 77.1249 68.9994 77.8275 70.7963 77.8275C72.5931 77.8275 74.3903 77.1246 75.7966 75.7965C78.5309 73.0621 78.5309 68.6096 75.7966 65.8752L65.7975 55.8746C64.4694 54.5465 62.6722 53.8437 60.7972 53.8437C59.7034 53.8437 58.6875 54.0784 57.75 54.5471L55.7969 52.594C55.3281 52.1252 54.7233 51.8906 54.1276 51.8906ZM60.7972 58.4534C61.4222 58.4534 62.0469 58.688 62.4375 59.1568L72.3588 69.0781C73.2963 70.0156 73.2963 71.4993 72.3588 72.3587C71.4213 73.2962 69.9375 73.2962 69.0781 72.3587L59.1569 62.5153C58.6881 62.0465 58.4534 61.4221 58.4534 60.7971C58.4534 60.1721 58.6881 59.5474 59.1569 59.1568C59.6256 58.688 60.1722 58.4534 60.7972 58.4534Z"/></svg>
          </span>
        </label>
      </div>
      <p id="status" style="margin-top: 50px;">Searching Game...</p>
    </div>
    <div id="main" style="display: none;">
      <div class="row" style="margin-top: 50px;">
        <div class="container container-1" style="justify-content: center; opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0s; padding: 20px; background: linear-gradient(145deg, rgba(8,11,26,1) 0%, rgba(13,17,40,1) 100%);">
          <p style="font-size: 13px; font-family: Inter; font-weight: 700; color: #616584; letter-spacing: 0.7px;">POWER SPIKES</p>
          <div style="height: 100%; display: flex;">
            <div style="display: flex; height: 100%; flex-direction: column; align-items: flex-end; justify-content: space-evenly;">
              <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">Minutes</p>
              <p style="font-weight: 100;">Your Champion(<span id="your-champion" style="color: #318ACE; font-weight: 600; font-style: italic;"></span>)</p>
              <p style="font-weight: 100;">Enemy Laner(<span id="enemy-champion" style="color: #A33D35; font-weight: 600; font-style: italic;"></span>)</p>
              <p style="color: #318ACE; font-weight: 600;">Your Team</p>
              <p style="color: #A33D35; font-weight: 600;">Enemy Team</p>
            </div>
            <div style="flex:1; display: flex; flex-direction: column; height: 100%; justify-content: space-evenly; margin: 1px 20px;">
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">0-15</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">15-20</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">20-25</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">25-30</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">30-35</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">35-40</p>
                <p style="font-weight: 100; font-style: italic; color: rgba(255, 255, 255, 0.65);">40+</p>
              </div>
              <div id="gradient1" style="height: 6px; width: 100%; margin: 5px; border-radius: 8px;"></div>
              <div id="gradient2" style="height: 6px; width: 100%; margin: 5px; border-radius: 8px;"></div>
              <div id="gradient3" style="height: 6px; width: 100%; margin: 5px; border-radius: 8px;"></div>
              <div id="gradient4" style="height: 6px; width: 100%; margin: 5px; border-radius: 8px;"></div>
            </div>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <div style="display: flex; gap: 10px; align-items: center;">
              <p style="font-size: 14px;">Weak</p>
              <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #C8453C;"></div>
            </div>
            <div style="display: flex; gap: 10px; align-items: center;">
              <p style="font-size: 14px;">Moderate</p>
              <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #C89C3C;"></div>
            </div>
            <div style="display: flex; gap: 10px; align-items: center;">
              <p style="font-size: 14px;">Strong</p>
              <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #3CC848;"></div>
            </div>
          </div>
        </div>
        <div class="container" style="opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0.15s;">
          <div style="position: absolute; margin-top: -25px; right: 0; display: flex; gap: 8px;">
            <p style="font-size: 12px; margin-right: 5px;">View game on:</p>
            <a id="porofessor" href="#" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-style: italic;" target="_blank">porofessor.gg</a>
           / <a id="opgg" href="#" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-style: italic;" target="_blank">op.gg</a>
           / <a id="ugg" href="#" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-style: italic;" target="_blank">u.gg</a>
          </div>
          <div style="background: linear-gradient(0deg, rgba(9,12,30,1) 0%, rgba(12,16,38,1) 100%); padding: 20px;">
            <p style="font-size: 13px; font-family: Inter; font-weight: 700; color: #616584; letter-spacing: 0.7px;">ITEM BUILD</p>
            <div style="display: flex; margin-top: 20px;">
              <div style=" flex: 1; display: flex; flex-direction: column; gap: 15px; justify-content: center; align-items: center;">
                <div style="display: flex; gap: 8px;">
                  <div class="item-container item1">
                    <img id="item1" src="">
                    <div class="description-item1">
                      <p id="description-item1">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item2">
                    <img id="item2" src="">
                    <div class="description-item2">
                      <p id="description-item2">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item3">
                    <img id="item3" src="">
                    <div class="description-item3">
                      <p id="description-item3">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item4">
                    <img id="item4" src="">
                    <div class="description-item4">
                      <p id="description-item4">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item5">
                    <img id="item5" src="">
                    <div class="description-item5">
                      <p id="description-item5">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item6">
                    <img id="item6" src="">
                    <div class="description-item6">
                      <p id="description-item6">Loading Item...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; gap: 8px; background: linear-gradient(0deg, rgba(9,12,30,1) 0%, rgba(12,16,38,1) 100%); padding: 20px; margin-top: 2px;">
            <p style="font-size: 13px; font-family: Inter; font-weight: 700; color: #616584; letter-spacing: 0.7px; margin-bottom: 10px;">TEAM COMPOSITIONS</p>
            <p style="font-size: 16px; color: #616584;">Your Team - <span id="your-team-comp1">ATTACK</span> / <span id="your-team-comp2">SPLIT</span></p>
            <p id="your-team-comp-description" style="font-size: 14px; font-weight: 100; margin-bottom: 8px;">Combines robust teamfighting with split pushing, forcing enemies to split their focus and creating openings for decisive battles</p>
            <p style="font-size: 16px; color: #616584;">Emeny Team - <span id="enemy-team-comp1">SIEGE</span> / <span id="enemy-team-comp2">PROTECT</span></p>
            <p id="enemy-team-comp-description" style="font-size: 14px; font-weight: 100;">Protects vital carries and uses burst and mobility to control fights, quickly taking out priority targets</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 50px; margin-top: 7px;">
        <div class="container" style="opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0.3s;  background: linear-gradient(145deg, rgba(8,11,26,1) 0%, rgba(13,17,40,1) 100%); padding: 20px;">
          <p style="font-size: 13px; font-family: Inter; font-weight: 700; color: #616584; letter-spacing: 0.7px;">TIPS</p>
          <div style="display: flex; flex-direction: column; gap: 8px; height: 100%; line-height: 18px; font-weight: 100; letter-spacing: 0.3px;padding: 20px;">
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">1</span>
              <p id="tip1" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px; margin-top: 8px;">
              <span style="color: #ffffff5b;">2</span>
              <p id="tip2" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;  margin-top: 8px;">
              <span style="color: #ffffff5b;">3</span>
              <p id="tip3" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
