
<div id="summonerInfo" 
     data-region="<%= region %>" 
     data-summoner-id="<%= summonerId %>" 
     data-summoner-name="<%= summonerName %>" 
     data-tag="<%= tag %>"
     style="display: none;">
</div>
<div class="inner">
  <div class="board">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.1) 4%,rgba(0,212,255,0) 22%, rgba(0,212,255,0) 100%); border-radius:50px; padding: 1px;">
      <div style="display: flex; gap: 15px;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: end;">
          <img id="summoner-icon" src="http://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/<%= profileIconId %>.png">
          <p id="summoner-level"><%= summonerLevel %></p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; gap: 10px">
          <p id="summoner-name"><%= decodeURIComponent(summonerName) %></p>
          <p id="summoner-region"><%= region %></p>
        </div>
      </div>
      <div style="display: flex; gap: 20px; margin-bottom: -40px;">
        <div class="btn">
          <a href="#" class="button-new">
            <span>REFRESH</span>
          </a>
        </div>
        <div class="btn">
          <a href="/" class="button-new">
            <span>HOME</span>
          </a>
        </div>
      </div>
    </div>
    <div id="loading">
      <h3 style="font-weight: 100;">Waiting for <span style="color: #28A9E1; font-weight: bold;">Game to Start...</span></h3>
      <p style="margin-top: 20px; margin-bottom: 50px; font-size: 15px; font-weight: 100; text-align: center; line-height: 19px; color: #e2e2e2;">Match analysis can start once you reach the loading screen.</p>
      <p id="status" style="margin-bottom: 50px;">Searching Game...</p>
      <div class="btn">
        <a class="btn btn-tryagain button-new" id="search-game-btn" href="#">
          <span>Try Again</span>
        </a>
      </div>
      <div id="loading-animation">
        <div class="content">
            <div class="surface"></div>
            <div class="loader"></div>
        </div>
      </div>
    </div>
    <div id="main" style="display: none;">
      <div class="row" style="margin-top: 50px;">
        <div class="container" style="justify-content: center; opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0s;">
          <div class="container-title" style="border-top: 1px solid #fff; background-color: #121212;">
            <p style="font-weight: 100;">Power Stats</p>
            <img src="/assets/chart-title-icon.png" width="18px" height="18px">
          </div>
          <div class="data" style="height: 100%;">
            <div class="tools">
              <p style="color: #3190E4; margin-left: 15px; font-weight: bold;">Your Team</p>
              <canvas class="chart" id="blue-chart"></canvas>
              <div class="power-spikes">
                <h5>Power Spikes</h5>
                <div class="power-boxes">
                  <h5>Early</h5>
                  <div id="blue-early" class="power-spike"></div>
                  <div id="blue-early_mid" class="power-spike"></div>
                  <div id="blue-mid" class="power-spike"></div>
                  <div id="blue-mid_late" class="power-spike"></div>
                  <div id="blue-late" class="power-spike"></div>
                  <h5>Late</h5>
                </div>
                <div class="power-explainers">
                  <div class="power-explainer box-weak" style="background-color: #c8453c;"></div><h5>Weak</h5>
                  <div class="power-explainer box-moderate" style="background-color: #c89c3c;"></div><h5>Moderate</h5>
                  <div class="power-explainer box-strong" style="background-color: #3cc848;"></div><h5>Strong</h5>
                </div>
              </div>
            </div>
            <div style="height: 100%; width: 1px; background-color: #ffffff5b;"></div>
            <div class="tools">
              <p style="color: #c8453c; margin-left: 15px; font-weight: bold;">Enemy Team</p>
              <canvas class="chart" id="red-chart"></canvas>
              <div class="power-spikes">
                <h5>Power Spikes</h5>
                <div class="power-boxes">
                  <h5>Early</h5>
                  <div id="red-early" class="power-spike"></div>
                  <div id="red-early_mid" class="power-spike"></div>
                  <div id="red-mid" class="power-spike"></div>
                  <div id="red-mid_late" class="power-spike"></div>
                  <div id="red-late" class="power-spike"></div>
                  <h5>Late</h5>
                </div>
                <div class="power-explainers">
                  <div class="power-explainer box-weak" style="background-color: #c8453c;"></div><h5>Weak</h5>
                  <div class="power-explainer box-moderate" style="background-color: #c89c3c;"></div><h5>Moderate</h5>
                  <div class="power-explainer box-strong" style="background-color: #3cc848;"></div><h5>Strong</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container" style="opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0.15s;">
          <div class="container-title" style="border-top: 1px solid #FEF04A; background-color: #121212;">
            <p style="font-weight: 100;">Full Item Build</p>
            <img src="/assets/item-title-icon.png" width="15px" height="15px">
          </div>
          <div style="height: 100%; background-color: #1F1F1F; padding: 40px 20px 0 20px;">
            <div style="display: flex;">
              <!-- <img src="/assets/shopkeeper.png" width="90px" height="90px" style=" margin-left: 20px; filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4)) saturate(0.7)"> -->
              <div style=" flex: 1; display: flex; flex-direction: column; gap: 15px; justify-content: center; align-items: center;">
                <p id="items-headline">Finding best build for your game...</p>
                <div style="display: flex; gap: 8px;">
                  <div class="item-container item1">
                    <img id="item1" src="">
                    <div class="description-item1">
                      <p id="description-item1">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item2">
                    <img id="item2" src="">
                    <div class="description-item2">
                      <p id="description-item2">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item3">
                    <img id="item3" src="">
                    <div class="description-item3">
                      <p id="description-item3">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item4">
                    <img id="item4" src="">
                    <div class="description-item4">
                      <p id="description-item4">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item5">
                    <img id="item5" src="">
                    <div class="description-item5">
                      <p id="description-item5">Loading Item...</p>
                    </div>
                  </div>
                  <div class="item-container item6">
                    <img id="item6" src="">
                    <div class="description-item6">
                      <p id="description-item6">Loading Item...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 100%; background-color: #1F1F1F; padding: 40px;">
            <div class="reasons" style="display: flex; gap: 1px;">
              <div class="reason-item1 selected">
                <img id="reason-item1-img" src="">
              </div>
              <div class="reason-item2">
                <img id="reason-item2-img" src="">
              </div>
              <div class="reason-item3">
                <img id="reason-item3-img" src="">
              </div>
              <div class="reason-item4">
                <img id="reason-item4-img" src="">
              </div>
              <div class="reason-item5">
                <img id="reason-item5-img" src="">
              </div>
              <div class="reason-item6">
                <img id="reason-item6-img" src="">
              </div>
            </div>
            <div style="background-color: #121212; padding: 20px; min-height: 90px;">
              <p id="reason-item1">Loading...</p>
              <p id="reason-item2" style="display: none;">Loading...</p>
              <p id="reason-item3" style="display: none;">Loading...</p>
              <p id="reason-item4" style="display: none;">Loading...</p>
              <p id="reason-item5" style="display: none;">Loading...</p>
              <p id="reason-item6" style="display: none;">Loading...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 50px;">
        <div class="container tips" style="opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0.3s;">
          <div class="container-title" style="border-top: 1px solid #1FC1A2; background-color: #121212;">
            <p style="font-weight: 100;">Strategy & Tips</p>
            <img src="/assets/strategy-title-icon.png" width="20px" height="20px" style="margin-top: 2px;">
          </div>
          <div style="display: flex; flex-direction: column; gap: 8px; height: 100%; min-height: 200px; line-height: 18px; font-weight: 100; letter-spacing: 0.3px; background-color: #1F1F1F; padding: 20px;">
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">1</span>
              <p id="tip1" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">2</span>
              <p id="tip2" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">3</span>
              <p id="tip3" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">4</span>
              <p id="tip4" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">5</span>
              <p id="tip5" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
          </div>
        </div>
        <div class="container warnings" style="opacity: 0; animation: fadeInUp 0.5s ease forwards; animation-delay: 0.45s;">
          <div class="container-title" style="border-top: 1px solid #FF6174; background-color: #121212;">
            <p style="font-weight: 100;">Warnings</p>
            <img src="/assets/warnings-title-icon.png" width="15px" height="15px" style="margin-top: 2px;">
          </div>
          <div style="display: flex; flex-direction: column; gap: 8px; height: 100%; min-height: 200px; line-height: 18px; font-weight: 100; letter-spacing: 0.3px; background-color: #1F1F1F; padding: 20px;">
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">1</span>
              <p id="warning1" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">2</span>
              <p id="warning2" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">3</span>
              <p id="warning3" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">4</span>
              <p id="warning4" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
            <div style="display: flex; gap: 6px;">
              <span style="color: #ffffff5b;">5</span>
              <p id="warning5" class="analysis-text"></p>
              <div class="skeleton-text"></div>
              <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
